* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 16px;
  line-height: 1.5;
}

#header {
  background-image: url(images/background.jpg);
  height: 100dvh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5885af;
  background-blend-mode: multiply;
  animation: change 20s alternate-reverse infinite;
  position: relative;
}

.logo {
  z-index: 2;
  padding-left: 100px;
  height: 5rem;
}

h1 {
  font-size: 6rem;
  /* font-family: "Times New Roman", sans-serif; */
  letter-spacing: -2px;
  padding-top: 50px;
  color: white;
  text-shadow: black 10px -10px 8px, #1f3541 -10px 22px 18px;
}

.header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.header-container .text {
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 1.8rem;
  font-weight: bolder;
  color: white;
  text-align: justify;
  /* margin: 20px; */
  letter-spacing: 1px;
  padding: 0 100px;
}

h1 span {
  color: #0e86d4;
}

.fas {
  color: white;
}

nav ul {
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  padding: 75px;
}

nav img {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

li {
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}

li a {
  display: block;
  color: #003b73;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

li a::after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  background-color: #0074b7;
}

li a:hover::after {
  width: 100%;
  transition: width 0.4s linear;
}

li a:hover {
  color: #003b73;
}

@keyframes change {
  0% {
    background-image: url(images/background.jpg);
  }
  20% {
    background-image: url(images/background2.jpg);
  }
  40% {
    background-image: url(images/background3.jpg);
  }
  60% {
    background-image: url(images/background4.jpg);
  }
  80% {
    background-image: url(images/background5.jpg);
  }
  100% {
    background-image: url(images/background6.jpg);
  }
}

.toggle-btn {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 20px;
  transform: translateY(45%);
  z-index: 2;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 10px 0 0 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  border-color: #1f3541;
  z-index: 1000;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#services {
  height: 100dvh;
  background-size: cover;
  background-color: white;
}

.title {
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 80px;
  letter-spacing: 1px;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 100px;
  height: 30vh;
}

.service {
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

.service .fa-solid {
  margin: 50px 50px 20px 70px;
  width: 200px;
  height: auto;
  border-radius: 8px;
  color: #003b73;
}
.service p {
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 18px;
  font-weight: medium;
  letter-spacing: 1px;
}

.description-container {
  display: none;
  background-size: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px #055c9d;
}

.description-container img {
  max-width: 20rem;
  border-radius: 8px;
}

.description-container.visible {
  display: block;
}

.description .text-1 .sysdev {
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 2em;
  text-transform: uppercase;
  color: #1f3541;
}

.description .text-1 .branding {
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 2em;
  text-transform: uppercase;
  color: #1f3541;
}

.description .text-1 .netsecurity {
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 2em;
  text-transform: uppercase;
  color: #1f3541;
}

.description .text-1 p {
  font-size: 1.5em;
  padding: 20px 0 0 0;
  width: 700px;
}

@media (max-width: 768px) {
  #header {
    height: 100dvh;
  }

  nav img {
    width: 110px;
    margin-top: 0;
  }

  #nav ul {
    background-color: #edf2f3;
  }

  li {
    float: none;
    text-align: center;
    font-size: 16px;
  }

  .title {
    padding-top: 10px;
  }

  .services-container {
    height: auto;
  }

  .service img {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .description-container {
    width: 90%;
    margin: 20px 5%;
  }

  .description {
    margin: 20px 0;
  }
}

#portfolio {
  height: 100dvh;
}

.portfolio-container {
  padding-block: 4rem;
  background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
}

.portfolio {
  /* font-family: "Times New Roman", sans-serif; */
  text-align: center;
  width: 100%;

  padding-top: 70px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

.portfolio .port-head {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

.portfolio p {
  color: white;
  font-style: italic;
}

.image-container {
  flex: 0 0 calc(33.33% - 20px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  max-width: 300px;
  margin: 0 30px 10px 50px;
}

.image-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: none;
  background-color: #f8f9fa;
  min-height: 300px;
}

.image-container img {
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.image-container .img5 {
  width: 300px;
}

.hover-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 10px;
  display: none;
  transition: all 0.3s ease;
  border-radius: 45px;
}

.image-container:hover .hover-box {
  display: block;
}

.hover-box .hover-title1 {
  font-size: 1.5rem;
  font-family: "Lora", "serif";
  text-align: center;
  color: #003b73;
  padding-top: 50px;
}

.hover-box .hover-title2 {
  font-size: 1.5rem;
  font-family: "Lora", "serif";
  text-align: center;
  color: #003b73;
  padding-top: 60px;
}

.hover-box .hover-title3 {
  font-size: 1.5rem;
  font-family: "Lora", "serif";
  text-align: center;
  color: #003b73;
  padding-top: 20px;
}

.hover-box .hover-title4 {
  font-size: 1.5rem;
  font-family: "Lora", "serif";
  text-align: center;
  color: #003b73;
  padding-top: 75px;
}

.hover-box .hover-title5 {
  font-size: 1.5rem;
  font-family: "Lora", "serif";
  text-align: center;
  color: #003b73;
  padding-top: 90px;
}

.hover-box .hover-title6 {
  font-size: 1.5rem;
  font-family: "Lora", "serif";
  text-align: center;
  color: #003b73;
  padding-top: 70px;
}

.hover-box p {
  font-size: 20px;
  font-family: "Lora", "serif";
  text-align: center;
  margin: 0;
}

.hover-box .hover-title p {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .portfolio-container {
    flex-direction: column;
  }
}

#about {
  height: 100dvh;
}

.about-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
}

.about-container h2 {
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 40px;
  padding-top: 10px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
}

.about-container p {
  /* font-family: "Times New Roman", sans-serif; */
  font-style: italic;
}

.image-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 100px;
}

.about-item {
  position: relative;
  text-align: center;
  max-width: 400px;
  overflow: hidden;
  aspect-ratio: 50/70;
  margin-bottom: 20px;
}

.about-item img {
  max-width: 100%;
  transition: transform 0.3s ease;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 149, 249, 0.523);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.text-container .name-1 {
  margin-bottom: 50px;
}

.text-container .name-2 {
  margin-bottom: 50px;
}

.text-container .name-3 {
  margin-bottom: 50px;
}

.text-container h2 {
  font-size: 4rem;
}

.text-container .p1 {
  font-size: 1.5rem;
  padding: 0 5px 0 5px;
}

.text-container p {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-size: 2rem;
  padding: 0 50px 0 50px;
}

.about-item:hover .text-container {
  opacity: 1;
}

.about-item:hover img {
  transform: scale(1.1);
}

#contact {
  background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  display: flex;
  align-items: center;
  height: 100vh;
  color: white;
}

#contact-info {
  text-align: left;
  margin-left: 100px;
}

#map {
  width: 50%;
  height: calc(100vh - 160px);
}

.contact-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-container div {
  width: 48%;
  /* padding: 0 20px; */
}

.contact-container h2,
.contact-container p {
  /* font-family: "Times New Roman", sans-serif; */
  margin: 0;
}

.contact h2 {
  font-size: 2em;
}

.paragraph {
  font-size: 16px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
  padding-top: 40px;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
  /* margin-bottom: 5px; */
}

#contact-form input,
#contact-form textarea,
#contact-form button {
  width: 270px;
  /* padding: 2px; */
}

#contact-form .below input,
#contact-form .below textarea,
#contact-form .below button {
  width: 600px;
}

#contact-form textarea {
  height: 80px;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}

.input-group label {
  /* display: block; */
  margin-bottom: 5px;
  /* font-weight: bold; */
}

.input-group input {
  width: 100%;
  padding: 5px;
  /* margin-bottom: 15px; */
}

.input-group2 {
  margin-left: 243px;
}

.input-group2 input {
  padding: 5px;
  /* margin-bottom: 15px; */
}

#contact-form button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 50px;
}

#contact-form button:hover {
  background-color: #45a049;
}

#map iframe {
  width: 500px;
  height: 100%;
  border: 0;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .header-container {
    top: 40%;
  }

  .header-container h1 {
    font-size: 4rem;
  }

  .header-container .text {
    margin: 0 20px;
    font-size: 20px;
  }

  #header {
    height: 100vh;
    background-position: center;
  }

  nav img {
    width: 80px;
    aspect-ratio: 16 / 9;
    margin-top: 10px;
  }

  .toggle-btn {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-links ul {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
  }

  .nav-links ul.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 10px;
    background-color: #edf2f3;
    z-index: 1;
  }

  li a {
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #edf2f3;
  }

  #nav ul {
    background-color: #edf2f3;
  }

  li {
    float: none;
    text-align: center;
    font-size: 16px;
  }

  .title {
    padding-top: 10px;
  }

  .services-container {
    flex-direction: column;
    height: auto;
  }

  .service img {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .description {
    flex-direction: column;
    text-align: left;
    margin: 20px 0;
  }

  .description .text-1 {
    padding-right: 0;
  }

  .description-container {
    width: 90%;
    margin: 20px 5%;
  }

  .image-row {
    justify-content: center;
  }

  .about-item {
    flex: 1;
    margin: 0 10px;
  }

  .about-item img {
    margin-left: 0;
    margin-right: 0;
  }

  .about-item:hover img {
    transform: none;
  }
}
